<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>
    <div class="add-members-container">
      <input
        #addMemberInput
        type="text"
        placeholder="What's your name?"
        [value]="newMemberName"
        (input)="onInput(addMemberInput.value)"
      />
      <button (click)="addMember()">Add</button>
    </div>
    <div class="generate-teams-container">
      <input
        #addTeamsInput
        type="number"
        placeholder="How many teams?"
        (input)="onTeamsInput(addTeamsInput.value)"
        [value]="numberOfTeams"
      />
      <button (click)="createRandomTeams()">Generate</button>
    </div>
    <p *ngIf="error" class="error-msg">{{ error }}</p>
  </div>
  <div *ngIf="teams.length" class="teams-container">
    <app-team
      *ngFor="let team of teams; let i = index"
      [team]="team"
      [index]="i"
    >
    </app-team>
  </div>
</div>
